[push]
	default = simple

[credential]
  helper = osxkeychain

[merge]
  tool = opendiff

[branch]
  autosetuprebase = always

[color]
  ui     = auto
  branch = auto
  diff   = auto
  status = auto

[alias]
  a      = !git add . && git status -s
  aa     = !git add --all . && git status -s
  b      = branch
  ba     = branch --all
  bd     = "!gitbd() { git branch -D $1; git push origin :$1; }; gitbd"
  c      = commit
  cleanse = !"git fetch origin --prune; git branch -v|grep '\\[gone\\]'|awk '{$1=$1};1'|cut -d' ' -f1|xargs git branch -D"
  cvs    = commit -v -S
  amd    = commit --amend -v -S
  co     = checkout
  d      = diff
  dc     = diff --cached
  l      = log -p
  pick   = cherry-pick
  pp     = !git pull && git push
  s      = status --long
  ss     = status --short
  st     = stash
  prune  = remote prune origin
  cph    = !git log -n 1 --pretty=format:"%H" | pbcopy && echo "Copied last commit hash to clipboard"
  cop    = !sh -c \"git checkout $(git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads | fzf | cut -f2)\"
  slog   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  up     = !git reup
  sync-fork = "!git stash;git co master; git pull upstream master;git rebase upstream/master;git push origin master;git stash pop"
  pub    = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
  pubf    = !git push --force-with-lease -u origin $(git rev-parse --abbrev-ref HEAD)
  praise = blame

[include]
  path = .gituser
  path = .githubconfig
[github]
	tokentype = ssh
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rerere]
	enabled = true
[core]
	autocrlf = input
[url "https://github.com/"]
	insteadOf = git://github.com/
[commit]
  gpgsign = true
[color "diff"]
  old = cyan bold
