.DS_Store
.byebug_history

# Vim
dotdirs/.vim/.netrwhist
dotdirs/.vim/spell/
dotdirs/.vim/backup/*
!dotdirs/.vim/backup/.gitkeep

# ZSH
zsh/configs/*.local

# Dotfiles to ignore
dotfiles/.githubconfig
dotfiles/.gituser

# Dotdir content to ignore

## Do not store anything but the config
dotdirs/.ssh/*
!dotdirs/.ssh/.gitkeep

## Do not store config stuff
dotdirs/.config/*

## But keep some special configs, e.g. fish, pgcli, etc.
!dotdirs/.config/fish/config.fish
!dotdirs/.config/fish/completions/*
!dotdirs/.config/fish/functions/*
!dotdirs/.config/pgcli/config

# Ignore gpg keys
*.key
*.gpg
*.kbx
random_seed

# backups
backups/
