.DS_Store

# Vim
dotdirs/.vim/bundle/
dotdirs/.vim/backup/**
!dotdirs/.vim/backup/.gitkeep
dotdirs/.vim/spell/

# ZSH
zsh/configs/*.local

# dotfiles to ignore
dotfiles/.githubconfig
dotfiles/.gituser

# Do not store config stuff
dotdirs/.config

# backups
backups/
