.DS_Store
vim/bundle/
vim/backup/
!vim/backup/.gitkeep
vim/spell/
!vim/spell/.gitkeep
zsh/configs/*.local

# .config
dotfiles/.config/.isolated-storage

# git
dotfiles/.githubconfig
dotfiles/.gituser

# backups
backups/
