# rspec snippets
snippet its "rspec it block"
it "${1:should return awesome values}" do
  $0
end
endsnippet


snippet desc "rspec describe block"
describe "${1:a function call}" do
  it "${2:should return awesome values}" do
    $0
  end
end
endsnippet


snippet let "let"
let(:${1:symbol}) { $2 }
endsnippet
