# HTML template
snippet html "html template"
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>${1:This is my awesome web page}</title>
    </head>
    <body>
      ${2:Put your content here}
    </body>
</html>
endsnippet
