snippet @palm "@media palm"
@include media-query(palm) {
  $0
}
endsnippet

snippet @plus "@media palm-plus"
@include media-query(palm-plus) {
  $0
}
endsnippet

snippet @lap "@media lap"
@include media-query(lap) {
  $0
}
endsnippet
